@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7EC8E3; /* Bleu ciel */
  --secondary-color: #A2D149; /* Vert prairie */
  --accent-color: #FED55D; /* Jaune soleil */
  --background-color: #F2F2F2; /* Gris doux */
  --text-color: #333333; /* Noir */
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

